*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html.body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100vh;
}
.nav{
    position: fixed;
    width: 100%;
    height: 12%;
    display: flex;
          
    background-color:#D08298;
    /* border: 1px solid black; */
}
.jivi{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 70px;
    right: 25px ;
    width: 20%;
    height: 100%;
     font-family:  Helvetica, sans-serif ;
    color: #832729;
   
}
img{
    width: 100%;
    height: 100%;
    
}

a{
    color: black inherit;
    text-decoration: none;
}
li{
    list-style: none;
}


/* Search container */


.search-container {
    display: flex;
    align-items: center;
    width: 490px;
    /* border: 1px solid #ddd;  */
    border-radius: 8px; 
    padding: 8px 15px; 
    margin: 20px auto; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    position:relative;
    right: 270px;
}

.search-container input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    background: transparent; 
    color: #333;
}

.search-container input[type="text"]::placeholder {
    color: #999; 
}

.search-container .search-icon {
    color: #888; 
    cursor: pointer;
    font-size: 18px; 
    transition: color 0.3s ease; 
}

.search-container .search-icon:hover {
    color: #555; 
}
.search-container .scan-icon {
    color: #888; 
    cursor: pointer;
    font-size: 18px; 
    transition: color 0.3s ease; 
    margin-left: 13px; 
}






/* media query for */
@media only screen and (max-width: 480px) {
          
            .logo{
                width: ;
            }

  }
  